body {
  text-align: center;
  margin-top: 50px;
  background-color: lightblue;
}

#road {
  position: relative;
  width: 90%;
  height: 200px;
  border: 5px solid black;
  margin: auto;
  overflow: hidden;
}

#car {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100px;
  transition: transform 0.1s linear;
}

#controls {
  margin-top: 20px;
}

#dangerBox {
  display: none;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

h2{
  font-style: italic;
  font-weight: 1000;
  font-size: 50px;
}

button{
  border-radius: 50%;
  padding: 50px;
  margin: 5px;
}