h1 {
    background-color: skyblue;
    padding: 10px 2px;
    text-align: center;
    margin: 0;
}

.about-us {
    background-color: rgb(212, 221, 130);
    margin: 0 5px 0 5px;
    padding: 10px;
    text-align: justify;
}

h3 {
    text-align: center;
}

.testimonial {
    background-color: rgb(173, 240, 236);
    display: flex;
    flex-direction: row;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    background-color: lightcyan;
}

.gallery img {
    border-radius: 30px;
    width: 100%;
    height: 240px;
}

.content {
    text-align: justify;
    padding: 20px;
    justify-items: center;
    align-content: center;
}