.root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

p{
    text-indent: 20px;
}

#heading{
    font-size: 50px;
    padding: 15px;
    /* background-color: royalblue; */
    align-items: center;
    text-align: center;
    border-radius: 6px;
}

table{
    border: 1px solid black;
    width: 100%;
}

th,td{
    border: 1px solid black;
}

.Hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    padding:20px;
    /* background-color: lightslategrey; */
    border-radius: 25px;
}

.links{
    display: flex;
    justify-content: space-evenly;
}